<h1>Pictures</h1>
<ul>
<li><%= link_to("New Picture", "/pictures/new") %></li>

<li><%= link_to("2017 Pictures", "/show_year/2017") %></li>

<li><%= link_to("2016 Pictures", "/show_year/2016") %></li>

<li><%= link_to("Back to Pictures", "/pictures") %></li>

<li><%= link_to("New User", "/users/new") %></li>

<li><%= link_to("Log In", "/sessions/new") %></li>

</ul>


<% @pictures.each do |picture| %>
  <p><%= picture.title %>, <%= picture.artist %></p>
  <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>
  <!-- <img src="<%= picture.url %>" alt="<%= picture.title %>"> -->
<% end %>

<h1><%= @month_old_pictures.size %> PHOTOS 1 MONTH AND OLDER</h1>
  <% @month_old_pictures.each do |picture| %>
   <li><%= picture.title %></li>

   <% end %>

 </p>

------

<h1>MOST RECENT PICTURES</h1>
<ul>
  <% @most_recent_pictures.each do |picture| %>
    <li><%= picture.title %></li>
  <% end %>
</ul>
